body {
  margin: 0;
  padding: 0;
  background-color: #000000;
}
.container-centralizador {
  width: 100%;
  display: flex;
  justify-content: center;
}
/*CONFIGS DO CARD*/
.Item-login {
  position: relative;

  padding: 12px 0;

  color: #fff;
  border: 1px solid #004758;
  text-decoration: none;

  margin-top: 70px;
  margin-left: 0;
}
.Card-login {
  width: 600px;
  padding-top: 30px;
  padding-bottom: 10px;
  background-color: rgba(150, 150, 150, 0);
  border-radius: 5px;
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
}

.Card-login {
  overflow: hidden;
  transition: 0.2s;
}
.Card-login:hover {
  background-color: rgb(0, 238, 255);
  box-shadow: 0 0 10px #0e8ba1, 0 0 15px #005c68, 0 0 30px rgb(120, 235, 255);

  color: #000000;

  transition-delay: 1s;
 
}


.Card-login input{
    background-color: #00000000;
    border: 1px solid white ;
    border-radius: 5px;
}
.Card-login span {
  position: absolute;
  display: block;
}
/*movimentando span*/
.Card-login span:nth-child(1) {
  width: 100%;
  height: 2px;
  top: 0;
  left: -100%;

  background: linear-gradient(90deg, transparent, #37f2ff);
}
.Card-login:hover span:nth-child(1) {
  left: 100%;
  transition: 1s;
}

.Card-login span:nth-child(2) {
  width: 2px;
  height: 100%;
  top: -100%;
  right: 0;

  background: linear-gradient(180deg, transparent, #37f2ff);
}
.Card-login:hover span:nth-child(2) {
  top: 100%;
  transition: 1s;
  transition-delay: 0.25s;
}

.Card-login span:nth-child(3) {
  width: 100%;
  height: 2px;
  right: -100%;
  bottom: 0;

  background: linear-gradient(270deg, transparent, #37f2ff);
}
.Card-login:hover span:nth-child(3) {
  right: 100%;
  transition: 1s;
  transition-delay: 0.5s;
}

.Card-login span:nth-child(4) {
  width: 2px;
  height: 100%;

  left: 0;
  bottom: -100%;

  background: linear-gradient(359.88deg, transparent, #37f2ff);
}

.Card-login:hover span:nth-child(4) {
  bottom: 100%;
  transition: 1s;
  transition-delay: 0.75s;
}
/*CONFIGURANDO CAIXA DE TEXTO */
.container-inputs{
    display: block;
color: #000000;
}
input {
    all: unset;
  }
.container-inputs input{
   
    position: relative;
    bottom: 5px;
    width: 55%;
    height: 30px;
    border-color: #000000;
    font-size: 30px;
}
.container-inputs input:focus{
border:2px solid #000000;
}
.container-inputs input:hover{
  border: 2px solid white;
  color: white;
  transition: .7s;
}
.inputs{
margin: 20px 0 20px 0;
font-size: 50px;
text-align: left;
/*padding:0 30px 0 60px ;*/
margin: 0 30px 0 60px;
}
.inputs input{
  padding-left: 10px;
  border: 5px  solid transparent;
  border: 2px solid black;
}
.title {
  margin-bottom: 50px;
  margin-top: 20px;
}
.Item-login h2 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 100px;
  line-height: 20px;
  font-weight: 100;
  margin: 10px;
  padding-bottom: 25px;
 
}
/*BTNS LOGIN*/

.btns-login{
  display: flex;
  justify-content: flex-end;
  margin-right: 13%;
  margin-top: 50px;
}
.btn-login{
  margin: 0 15px 0 15px;
font-size: 18px;
  background-color: rgba(255, 255, 255, 0);
  color: black;
  
}
.btn-login:hover {
  color: white;
  transition: .6s;
  border: 3px solid white;
  font-size: 17px;
}
.inputs:hover{
  color: white;
  transition: .7s;
}