body {
    background-color: rgb(0, 0, 0);
}

h5,p {
    margin: 5px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
"Lucida Sans", Arial, sans-serif;
}

.containeri {
    width: 1000px;
    margin: 200px;
border: 1px solid #004758 ;
display: flex;
flex-direction: column;
justify-content: center;
text-align: center;
align-items: center;
padding: 30px;
}
.header{
    color: aliceblue;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
"Lucida Sans", Arial, sans-serif;
}
.header h2{
    text-shadow: rgb(255, 255, 254) 1px 0 10px;
    font-size: 60px;
}
.corpo{
    width: 80%;
}.botao-add{
    display: flex;
    justify-content: start;
    width: 80%;
}
.botao-add button{
    border-radius: 5px;
    width: 50px;
    background-color: rgb(0, 0, 0);
    font-size: 30px;
    color: rgb(255, 255, 255);
    font-weight: 900;
    border: 3px solid#00ccff ;
}
.botao-add button:hover{
    border: 3px solid#00ccff ;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    transition: .4s;
    cursor: pointer;
}
.corpo-musicas{
    text-shadow: rgb(255, 255, 254) 1px 0 10px;
    color: aliceblue;
    width: 80%;
 display: flex;
 flex-direction:column ;
    align-items: flex-start;
    margin: 25px 0 55px 0;
}
.corpo-musicas h5{
    padding-top: 20px;
    
    border-bottom:1px solid rgb(0, 225, 255) ;
    box-shadow: rgb(0,255,255) 0 1px  0;
}
.footer-escala-aberta{
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: space-around;
    align-items: center;
border-top: 2px solid rgb(0, 225, 255);
border-right:2px solid rgb(0, 225, 255) ;
border-left:2px solid rgb(0, 225, 255) ;
border-radius: 7px;
}
.footer-escala-aberta h2{
    color: aliceblue;
    padding-bottom: 20px;
    font-size: 40px;
    text-shadow: rgb(255, 255, 254) 1px 0 10px;
}
.footer-escala-aberta p{
    color: aliceblue;
    padding-bottom: 20px;
    font-size:  20px; 
    border-bottom: .5px solid white;
}