body {
    background-color: rgb(0, 0, 0);
}

h5,p {
    margin: 5px;
}

.containeri {
    width: 1000px;
    margin: 200px;
border: 1px solid #004758 ;
display: flex;
flex-direction: column;
justify-content: center;
text-align: center;
align-items: center;
padding: 30px;
}
.header{
    color: aliceblue;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
"Lucida Sans", Arial, sans-serif;
}
.header h2{
    text-shadow: rgb(255, 255, 254) 1px 0 10px;
}
.corpo{
    width: 80%;
}